table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
table tbody tr .dinero{
    text-align: right;
}

.form-group{
    float: left;
    width: 45%;
    height: 25px;
    margin: 1em;
}
.form-group label{
    font-weight: bold;
}
.form-group i{
    display: none;
}
.form-group input{
    border: none;
}
.panel-heading h3{
    float: left;
    font-size: 20px;
    width: 100%;
}
p{
    text-align: center;
    font-weight: bold;
}

#firmas{
    float: left;
    width: 45%;
    height: 25px;
    margin: 1em;
}

#firmas2{
    float: left;
    width: 45%;
    height: 25px;
    margin: 1em;
}
#TitleText{
  text-align: center;
  margin-top: 240px;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}